<!DOCTYPE HTML>
<html>
  <head>
    <title>DigiQuests</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/skyrim.css" />
    <noscript><link rel="stylesheet" href="/static/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">


    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Three -->
          <section id="login_section" class="wrapper fullscreen fade-up skr-style">
            <div class="inner">
              <div class="split style1">
                <section>
                  <form method="post">
                    <div class="fields">
                      <div class="field half">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" />
                      </div>
                      <div class="field half">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" />
                      </div>
                    </div>
                    <ul class="actions">
                      <li><button type="submit" class="button submit skr-button-img">
                        <img src="/static/images/skyrim-white.png" class="skr-img-40">Login
                      </button></li>
                    </ul>
                  </form>
                </section>
              </div>
            </div>
          </section>

      </div>

    <!-- Scripts -->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/jquery.scrollex.min.js"></script>
      <script src="/static/js/jquery.scrolly.min.js"></script>
      <script src="/static/js/browser.min.js"></script>
      <script src="/static/js/breakpoints.min.js"></script>
      <script src="/static/js/util.js"></script>
      <script src="/static/js/main.js"></script>

  </body>
</html>