<div class="modal" tabindex="-1" id="newTaskDialog">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #252a2f;">
      <div class="modal-header">
        <h5 class="modal-title">Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="new_task_edited" value=""/>
        <input type="text" name="description" id="ntd_taskDescription" placeholder="Task description..." />
        <hr>
        <div align="center">
          <button id="ntd_associateEventBtn" onclick="ntd_associateEvent()" style="width: fit-content; background-color: gray;">Associate event</button>
          <div id="ntd_NoReccurenceEventDiv" class="row" style="display: none;">
            <div class="col col-md-10">
              <strong>Event start:</strong>
              <input type="date" class="form-control" id="ntd_eventStartDate">
              <input type="time" class="form-control" id="ntd_eventStartTime">
              <strong>Event end:</strong>
              <input type="date" class="form-control" id="ntd_eventEndDate">
              <input type="time" class="form-control" id="ntd_eventEndTime">
              <div><strong>Location:</strong></div>
              <div style="display: inline-flex; width: 100%;">
                <input type="text" class="form-control" id="ntd_eventLocationInput" data-name="location" style="height: auto;">
                <select id="ntd_eventLocationSelect" class="form-control" style="display: none;">{% for group, locations in saved_locations.items() %}
                  {% if group is none%}
                    {% for location in locations %}<option value="{{location['id']}}">{{location['name']}}</option>{% endfor %}
                  {% else %}
                  <optgroup label="{{group}}">{% for location in locations %}
                    <option value="{{location['id']}}">{{location['name']}}</option>
                  {% endfor %}</optgroup>
                  {% endif %}
                {% endfor %}</select>
                <button class="skr-small-button-img" id="ntd_eventLocationButton" title="Bookmarked locations" onclick="ntd_changeLocationSelection()"><img src="/static/images/bookmark.png"></button>
              </div>
              <div><strong>Reminder:</strong></div>
              <div style="display: inline-flex; width: 100%;">
                <button class="skr-small-button-img" id="ntd_eventReminderButton" style="margin-left: 0;margin-right: 10px; border: 2px solid white;" onclick="ntd_toggleReminder()"><img src="/static/images/empty.png"  id="ntd_eventReminderCheckbox"></button>
                <label>before&nbsp;</label>
                <input type="number" class="form-control" min="0" max="10080" id="ntd_eventReminder" style="height: fit-content; background-color:gray;" disabled>
                <label>&nbsp;minute(s)</label>
              </div>
            </div>
            <div class="col col-md-2" style="width: fit-content; max-width: fit-content; margin-top: 5px;">
              <button class="editable_task_full_button skr-button-img" onclick="ntd_deassociateEvent()"><img src="/static/images/trash.png"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="ntd_errorMessage" class="form-control" style="color: red; display: none;"></div>
        <button type="button" class="button" style="background: #514545; border-radius: 5px !important; color: white !important;width: fit-content;" data-bs-dismiss="modal" onclick="ntd_onTaskCanceled()">Cancel</button>
        <button id="ntd_confirmButton" type="button" class="button" style="background: black; border-radius: 5px !important; color: white !important;width: fit-content;" onclick="ntd_onTaskConfirmed()">Add</button>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .ntd_ErrorInput{
    border-color: red !important;
  }
</style>
<script type="text/javascript">
  var ntd_onTaskConfirmedCallback = null
  var ntd_onTaskCanceledCallback = null
  var ntd_eventType = "once"
  var ntd_eventAssociated = false

  function ntd_setConfirmCallback(callback){
    ntd_onTaskConfirmedCallback = callback;
  }

  function ntd_setCancelCallback(callback){
    ntd_onTaskCanceledCallback = callback;
  }

  function ntd_showError(message){
    let error = document.getElementById('ntd_errorMessage')
    error.innerHTML = message;
    error.style.display = "block"
  }

  function ntd_validateTask(task){
    if(task['content'].length == 0){
      document.getElementById('ntd_taskDescription').classList.add('ntd_ErrorInput')
      ntd_showError("Task description can't be empty")
      return false;
    }

    if(task['event'] != null){
      if(task['event']['start']['date'] == undefined || task['event']['start']['date'] == null || task['event']['start']['date'] == ""){
        document.getElementById('ntd_eventStartDate').classList.add('ntd_ErrorInput')
        ntd_showError("Invalid start date"); return false;
      }
      if(task['event']['start']['time'] == undefined || task['event']['start']['time'] == null || task['event']['start']['time'] == ""){
        document.getElementById('ntd_eventStartTime').classList.add('ntd_ErrorInput')
        ntd_showError("Invalid start time"); return false;
      }
      sd = new Date(task['event']['start']['date']+" "+task['event']['start']['time'])
      if(sd == "Invalid Date"){
        document.getElementById('ntd_eventStartDate').classList.add('ntd_ErrorInput')
        document.getElementById('ntd_eventStartTime').classList.add('ntd_ErrorInput')
        ntd_showError("Invalid start date"); return false;
      }else if(sd < new Date()){
        document.getElementById('ntd_eventStartDate').classList.add('ntd_ErrorInput')
        document.getElementById('ntd_eventStartTime').classList.add('ntd_ErrorInput')
        ntd_showError("Start date can't be before now"); return false;
      }

      if(task['event']['end']['date'] == undefined || task['event']['end']['date'] == null || task['event']['end']['date'] == ""){
        document.getElementById('ntd_eventEndDate').classList.add('ntd_ErrorInput')
        ntd_showError("Invalid end date"); return false;
      }
      if(task['event']['end']['time'] == undefined || task['event']['end']['time'] == null || task['event']['end']['time'] == ""){
        document.getElementById('ntd_eventEndTime').classList.add('ntd_ErrorInput')
        ntd_showError("Invalid end time"); return false;
      }
      ed = new Date(task['event']['end']['date']+" "+task['event']['end']['time'])
      if(ed == "Invalid Date"){
        document.getElementById('ntd_eventEndDate').classList.add('ntd_ErrorInput')
        document.getElementById('ntd_eventStartTime').classList.add('ntd_ErrorInput')
        ntd_showError("Invalid end date"); return false;
      }else if(ed < sd){
        document.getElementById('ntd_eventEndDate').classList.add('ntd_ErrorInput')
        document.getElementById('ntd_eventStartTime').classList.add('ntd_ErrorInput')
        ntd_showError("End date can't be before start date"); return false;
      }
      let reminder = document.getElementById('ntd_eventReminder')
      if(!reminder.disabled && (reminder.value < 0 || reminder.value > 10080)){
        ntd_showError("Reminder timer mujst be a number of minutes included between 0 and 10080 (1 week)"); return false;
      }
    }
    return true
  }

  function ntd_onTaskCanceled(){
    if (ntd_onTaskCanceledCallback != null) ntd_onTaskCanceledCallback();
  }

  function ntd_setConfirmText(text){
    ntd_confirmButton.innerHTML = text
  }

  function ntd_onTaskConfirmed(){
    let task = {
      "content":document.getElementById("ntd_taskDescription").value,
      "event":null
    }

    if(ntd_eventAssociated){
      let select = document.getElementById('ntd_eventLocationSelect')
      let input = document.getElementById('ntd_eventLocationInput')
      let elocation = null;
      let reminder = document.getElementById('ntd_eventReminder')
      if(select.dataset.name == "location"){
        elocation = select.selectedOptions[0].value
      }else{
        elocation = input.value
      }
      task['event'] = {
        "start":{"date":document.getElementById('ntd_eventStartDate').value,"time":document.getElementById('ntd_eventStartTime').value},
        "end":{"date":document.getElementById('ntd_eventEndDate').value,"time":document.getElementById('ntd_eventEndTime').value},
        "location": (elocation == "" || elocation == undefined)?null:elocation,
        "reminder": (reminder.disabled)?null:reminder.value
      }
    }

    if(!ntd_validateTask(task)) return;

    if (ntd_onTaskConfirmedCallback != null) ntd_onTaskConfirmedCallback(task);
    $('#newTaskDialog').modal('hide')
  }

  function ntd_toggleReminder(activate){
    let input = document.getElementById('ntd_eventReminder')
    let image = document.getElementById('ntd_eventReminderCheckbox')
    if(activate == null || activate == undefined ){
      activate = input.disabled
    }

    if(activate){
      input.disabled = false;
      input.style.backgroundColor = "white"
      image.src = "/static/images/checked.png"
    }else{
      input.disabled = true;
      input.style.backgroundColor = "gray"
      image.src = "/static/images/empty.png"
    }
  }

  function ntd_changeLocationSelection(mode){
    let select = document.getElementById('ntd_eventLocationSelect')
    let input = document.getElementById('ntd_eventLocationInput')
    let btn = document.getElementById('ntd_eventLocationButton')
    if(mode == null || mode == undefined){
      if(input.dataset.name == "location") mode = 1;
      else mode = 0;
    }

    if(mode == 1){
      select.style.display = "block";
      input.style.display = "none";
      select.dataset.name = "location"
      input.dataset.name = null
      btn.style.backgroundColor = "white"
    }else{
      select.style.display = "none";
      input.style.display = "block";
      select.dataset.name = null
      input.dataset.name = "location"
      btn.style.backgroundColor = "#00000000"
    }
  }

  function ntd_associateEvent(){
    let btn = document.getElementById('ntd_associateEventBtn')
    let noRecDiv = document.getElementById('ntd_NoReccurenceEventDiv')

    btn.style.display = "none";
    noRecDiv.style.display = "block";

    ntd_eventAssociated = true
  }

  function ntd_deassociateEvent(){
    let btn = document.getElementById('ntd_associateEventBtn')
    let noRecDiv = document.getElementById('ntd_NoReccurenceEventDiv')

    btn.style.display = "block";
    noRecDiv.style.display = "none";

    ntd_eventAssociated = false;
  }

  function ntd_resetDialog(){
    let taskD = document.getElementById('ntd_taskDescription')
    let eSDate = document.getElementById('ntd_eventStartDate')
    let eSTime = document.getElementById('ntd_eventStartTime')
    let eEDate = document.getElementById('ntd_eventEndDate')
    let eETime = document.getElementById('ntd_eventEndTime')
    taskD.classList.remove('ntd_ErrorInput'); taskD.value = ""
    eSDate.classList.remove('ntd_ErrorInput'); eSDate.value = ""
    eSTime.classList.remove('ntd_ErrorInput'); eSTime.value = ""
    eEDate.classList.remove('ntd_ErrorInput'); eEDate.value = ""
    eETime.classList.remove('ntd_ErrorInput'); eETime.value = ""
    ntd_changeLocationSelection(0)
    ntd_toggleReminder(false)
    document.getElementById('ntd_errorMessage').style.display = "none"
    ntd_deassociateEvent()
  }

  function ntd_setupDialog(task){
    ntd_resetDialog();
    document.getElementById("ntd_taskDescription").value = task['content']
    if(task['event'] != undefined && task['event'] != null){
      document.getElementById('ntd_eventStartDate').value = task['event']['start']['date']
      document.getElementById('ntd_eventStartTime').value = task['event']['start']['time']
      document.getElementById('ntd_eventEndDate').value = task['event']['end']['date']
      document.getElementById('ntd_eventEndTime').value = task['event']['end']['time']
      let elocation = task['event']['location']
      let reminder = task['event']['reminder']
      if(reminder != null){
        ntd_toggleReminder(true)
        document.getElementById('ntd_eventReminder').value = task['event']['reminder']
      }
      if(elocation == null){
        document.getElementById('ntd_eventLocationInput').value = ""
      }else{
        if(typeof(elocation) == "string"){
          locationID = elocation
        }else{
          locationID = elocation['id']
        }
        if(Object.values(document.getElementById('ntd_eventLocationSelect').options).filter(x => x.value == locationID).length > 0){
          ntd_changeLocationSelection(1)
          $('#ntd_eventLocationSelect').val(locationID).change()
        }else{
          document.getElementById('ntd_eventLocationInput').value = locationID
        }
      }
      ntd_associateEvent()
    }
  }
</script>